<!-- My comments goes here -->
<p>
    {{ title }}
</p>

<app-hero-toolbar
    [heroes]="heroes"
    (filterChange)="onFilterChange($event)"
></app-hero-toolbar>

<ul>
    <ng-container *ngFor="let hero of heroes">
        <li class="marvel" *ngIf="filter === 0 || hero.isMarvel === displayMarvel">
            {{ hero.name }} | {{ hero.isMarvel ? 'Marvel' : 'Comics'}} | {{ hero.isMarvel }} <span (click)="remove(hero)">x</span>
        </li>
    </ng-container>
</ul>

<button type="button" (click)="addHero()">
    Ajouter
</button>

<table>
    <thead>
        <tr>
            <th>Heroes name</th>
            <th>Comics / Marvel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroes">
            <td>{{ hero.name }}</td>
            <td>{{ hero.isMarvel ? 'Marvel' : 'Comics' }}</td>
        </tr>
    </tbody>
</table>